.jumbotron {
  font-family:'Courier New', Courier, monospace;
  text-align:center;
  
}

.page1 {
  display:none;
}

.page2-1 {
  display:none;
}

.page2-2 {
  display:none;
}

.page3-1 {
  display:none;
}

.page3-2 {
  display:none;
}

.page3-3 {
  display:none;
}

.page3-4 {
  display:none;
}

.page4-1 {
  display:none;
}

.page4-2 {
  display:none;
}

.page4-3 {
  display:none;
}

.page4-4 {
  display:none;
}

.page4-5 {
  display:none;
}

.page4-6 {
  display:none;
}

.page4-7 {
  display:none;
}

.page4-8 {
  display:none;
}

.page5-1 {
  display:none;
}

.page5-2 {
  display:none;
}

.page5-3 {
  display:none;
}

.page5-4 {
  display:none;
}

.page5-5 {
  display:none;
}

.page5-6 {
  display:none;
}

.page5-7 {
  display:none;
}

.page5-4 {
  display:none;
}

.page6-1 {
  display:none;
}

.page6-2 {
  display:none;
}

.page6-3 {
  display:none;
}

.page6-4 {
  display:none;
}

.page6-5 {
  display:none;
}

.page6-6 {
  display:none;
}

.page6-7 {
  display:none;
}

#output1 {
  display:none;
}

#output2 {
  display:none;
}

#output3 {
  display:none;
}

#output4 {
  display:none;
}